@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');

* {
    font-family: 'Outfit';
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn {
    margin-right: 20px;
    font-size: 1.5rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}